<%- include("partials/header"); -%>
  </head>
  <body class="text-center">
   <div class="container">
    <form class="form-signin">
      <div class="form-group">
        <label for="complainEmail">Contact Email Address</label>
        <input type="email" class="form-control" id="complainEmail" placeholder="Email address">
      </div>
      <div class="form-group">
        <label for="orderNumberComplain">Order Number</label>
        <input type="text" class="form-control" id="orderNumberComplain">
      </div>
      <div class="form-group">
        <label for="textAreaComplain">Please type out the issue here and we'll get back at you promptly:</label>
        <textarea class="form-control" id="textAreaComplain" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>











<%- include("partials/footer"); -%>
