<%- include("partials/header"); -%>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Al-SIDDIQUE ONLINE BOOKSTORE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/customerservice">CUSTOMER SERVICE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/signin" aria-disabled="true">SIGN IN<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register">REGISTER</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <form class="form text-center border border-light p-5" action="/signin" method="post">
      <img class="mb-4" src="/images/favicon_io/favicon.ico" alt="" width="72" height="72">

      <p class="h4 mb-4">Please Sign In</p>
 
      UserNameSignIn:   <input type="userName" name="userName" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="userName">
      PasswordSignin: <input type="password" name="logOnPassword" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
      <button class="btn btn-info btn-block my-4" type="submit" value="accept">Sign in</button>
      <p>or sign in with:</p>

      <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
      <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
      <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
      <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

    </form>

  </div>
  <div class="footer-padding"></div>
  <div class="footer">
    <p>©Copyright 2020 Alsideeq ☪️ Bookstore</p>
  </div>
</body>

</html>
